# Dependencias de Node.js
node_modules/

# Archivos de la base de datos de paquetes
package-lock.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales y descargas
temp/
*.part
*.ytdl

# Binarios y ejecutables
*.exe

# Archivos del sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Variables de entorno
.env
.env.local

# Posibles archivos de configuración de IDEs
.vscode/
.idea/
